<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wdth,wght@0,5..1200,87.5..112.5,300..900;1,5..1200,87.5..112.5,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="about-me">
      <div class="portrait">
        <img
          src="<%= require('./images/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg') %>"
          alt="Chalres the Pug"
        />
        <h1>Charles Pug</h1>
      </div>
      <div class="about-text">
        <h2>About me</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident.
        </p>
        <div class="icon-container flex">
          <img
            class="icon"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
          />

          <img
            class="icon"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-plain.svg"
          />

          <img
            class="icon"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/twitter/twitter-original.svg"
          />
        </div>
      </div>
    </div>
    <div class="projects">
      <div class="project">
        <div class="project-preview">
          <img src="<%= require('./images/kyle-hanson-1pyqUh8Jx3E-unsplash.jpg') %>" alt="" />
        </div>
        <div class="project-info">
          <h3>Project name</h3>
          <img
            class="icon"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
          />
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>open-in-new</title>
            <path
              d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z"
            />
          </svg>
          <p>Short description of the project. Just a few a couple sentences will do.</p>
        </div>
      </div>
      <div class="project">
        <div class="project-preview">
          <img src="<%= require('./images/kyle-hanson-1pyqUh8Jx3E-unsplash.jpg') %>" alt="" />
        </div>
        <div class="project-info">
          <h3>Project name</h3>
          <img
            class="icon"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
          />
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>open-in-new</title>
            <path
              d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z"
            />
          </svg>
          <p>Short description of the project. Just a few a couple sentences will do.</p>
        </div>
      </div>
      <div class="project">
        <div class="project-preview">
          <img src="<%= require('./images/kyle-hanson-1pyqUh8Jx3E-unsplash.jpg') %>" alt="" />
        </div>
        <div class="project-info">
          <h3>Project name</h3>
          <img
            class="icon"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
          />
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>open-in-new</title>
            <path
              d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z"
            />
          </svg>
          <p>Short description of the project. Just a few a couple sentences will do.</p>
        </div>
      </div>
      <div class="project">
        <div class="project-preview">
          <img src="<%= require('./images/kyle-hanson-1pyqUh8Jx3E-unsplash.jpg') %>" alt="" />
        </div>
        <div class="project-info">
          <h3>Project name</h3>
          <img
            class="icon"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
          />
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>open-in-new</title>
            <path
              d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z"
            />
          </svg>
          <p>Short description of the project. Just a few a couple sentences will do.</p>
        </div>
      </div>
      <div class="project">
        <div class="project-preview">
          <img src="<%= require('./images/kyle-hanson-1pyqUh8Jx3E-unsplash.jpg') %>" alt="" />
        </div>
        <div class="project-info">
          <h3>Project name</h3>
          <img
            class="icon"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
          />
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>open-in-new</title>
            <path
              d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z"
            />
          </svg>
          <p>Short description of the project. Just a few a couple sentences will do.</p>
        </div>
      </div>
      <div class="project">
        <div class="project-preview">
          <img src="<%= require('./images/kyle-hanson-1pyqUh8Jx3E-unsplash.jpg') %>" alt="" />
        </div>
        <div class="project-info">
          <h3>Project name</h3>
          <img
            class="icon"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
          />
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>open-in-new</title>
            <path
              d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z"
            />
          </svg>
          <p>Short description of the project. Just a few a couple sentences will do.</p>
        </div>
      </div>
    </div>
  </body>
</html>
